@{
    ViewBag.Title = "Hakkımızda";
}

<style>
    .custom-container {
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Gölgelendirme efekti */
        border-radius: 10px; /* Kenarları yuvarlak yapma */
        padding: 20px;
        margin-bottom: 20px;
    }
</style>

<div class="container custom-container">
    <div class="row">
        <div class="col-md-6">
            <img src="~/img/misyon.jpg" alt="Resim Açıklaması" class="img-fluid" />
        </div>
        <div class="col-md-6 align-self-center">
            <h2 style="color: #F96D00;">Misyonumuz</h2>
            <p>Lokko Chocolate World, geniş bir menüyle müşterilerine unutulmaz tatlar sunmayı hedefler. Çikolata, waffle, krep, pankek, lokma ve dünya kahveleri gibi çeşitli lezzetlerle zenginleştirilmiş menümüz, yüksek kaliteli malzemeler ve el işçiliğiyle hazırlanır. Müşterilerimizin damak zevkine hitap ederken, sıcak ve samimi bir ortamda keyifli bir deneyim yaşatmayı amaçlıyoruz.</p>
        </div>
    </div>
</div>

<div class="container custom-container">
    <div class="row">
        <div class="col-md-6 order-md-2">
            <img src="~/img/vizyon.jpg" alt="Resim Açıklaması" class="img-fluid" />
        </div>
        <div class="col-md-6 align-self-center order-md-1">
            <h2 style="color: #F96D00;">Vizyonumuz</h2>
            <p>Lokko Chocolate World, ülkemizde tanınan bir marka olmayı ve her bir lezzetimizin gönüllerde unutulmaz izler bırakmasını hedefler. İnovasyon ve yaratıcılığı ön planda tutarak, müşterilerimize sürekli olarak yenilikçi ve lezzetli ürünler sunmayı amaçlıyoruz. Lokko Özel başlıklı ürünlerimizle sektörde iddialı bir konuma gelerek, her bir müşterimizin beklentilerini aşmayı ve tatlı anılar yaratmayı hedefliyoruz.</p>
        </div>
    </div>
</div>
